@import './_easings.scss';
@import './_colors.scss';
@import './_functions.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: #FF98A2;
  color: #000000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga","kern";
  text-rendering: optimizelegibility;
}

a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

.home main {
  > *:not(.canvas) {
    position: relative;
    // pointer-events: none;
  }
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  right: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100vw;
    width: 200vw;
    background: radial-gradient(var(--pink), var(--pink-transparent) 70%);
    // background: linear-gradient(to top, var(--pink), var(--pink-transparent));
    transform: translateX(-50%) translateY(50vh);
    opacity: 0.4;
  }
}

